/*NAVIGATION STYLING*/

.navbar ul {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li a:hover {
    color: purple;
    font-weight: bold;
}

.navbar ul li a {
    color: #007b7b
}

.navbar {
    background-color: #faf0e6 ;
    float: left;
}

.navbar {
    width: 25%;        /*background-color: red;*/
}
.content-container {
    width: 50%;
    /*background-color: blue;*/
}



/*ARTICLE STYLING*/

img {
    width: 85%;
    height: 25%;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}


.flex-item {
    flex-grow: 1
}

@media(max-width: 500) {
    .flex-item {
        width: 100%;
        margin-top: 100px;
    }
}

@media(min-width: 500px) {
    .flex-item {
        width: 50%;
    }
    .flex-item {
        margin-bottom: 25%;
}


@media(min-width: 501px) and (max-width: 800px) {
    .flex-item {
        width: 50%;
    }

    img {
        width: 75%;
        height: 45%;
    }
}

@media(min-width: 801px) {
    .flex-item {
        width: 33%;
    }
}